#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    }

#jungle {
    width: 100vw;
   height: 100vh;
   object-fit: cover;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: -1;
}
.overlay-button {
    position: fixed;
    top: 95%;
    left: 95%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color:transparent;
    color:rgb(4, 112, 235);
    text-decoration:none;
    font-size: 18px;
    border:round;
    border-radius: 15%;
    outline: none;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.5s;}
    .overlay-button:hover {
        background-color: rgba(32, 212, 8, 0.925);
    }
    .overlay-button2 {
        position: fixed;
        top: 95%;
        left: 5%;
        transform: translate(-50%, -50%);
        padding: 10px 20px;
        background-color:transparent;
        color:rgb(241, 11, 11);
        text-decoration:none;
        font-size: 18px;
        border:round;
        border-radius: 15%;
        outline: none;
        cursor: pointer;
        z-index: 10;
        transition: background-color 0.5s;}
        .overlay-button2:hover {
            background-color: rgb(172, 252, 24);
        }
       h1{
        position:absolute;
        font-size:70px;
        font-weight: 1000;
        left: 40%;
        right: 50%;
        top:1px;
        bottom:90%;
        margin-top:0px;
        font-family: Arial, Helvetica, sans-serif;
        color:white;
        text-shadow: 2px 2px 8px black;
       }